<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="テクノロジーで社会課題を解決する。AIやビッグデータ分析などの技術を活用した社会課題解決サービスを提供するTETOTEの採用サイト。このページでは、TETOTEについて解説しています。" >
  <meta name="robots" content="noindex">
  <title>TETOTEについて | 株式会社TETOTE</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins&family=Viga&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="exp-grid about-us">

  <header class="l-header p-header p-header--sticky" id="js-header">
    <div class="p-header__inner">
      <p class="p-header__title">
        <a href="/">
          <img src="/img/img_logo.svg" alt="TETOTE.co.ltd RECRUITING" width="250" height="61">
        </a>
      </p>

      <div class="p-header__action">
        <a class="c-button--smallBW" href="/details/">募集要項</a>
        <a class="c-button--smallGG c-viga"href="/entry/">entry</a>
      </div>

      <button class="c-hamburger c-viga" id="js-hamburger"
              aria-controls="js-drawerBackground"
              aria-expanded="false"
              aria-label="メニューを開閉">
        <span class="c-hamburger__bar"></span>
        <span class="c-hamburger__bar"></span>
        <span class="c-hamburger__bar"></span>
        <span class="c-hamburger__text">menu</span>
      </button>
    </div><!-- .p-header__inner -->
  </header>

  <div class="p-drawer" id="js-drawerBackground" aria-hidden="true">
    <div class="p-drawer__inner">
      <div class="p-drawer__logo">
        <a href="/">
          <img src="/img/img_logo.svg" alt="TETOTE.co.ltd RECRUITING" width="250" height="61">
        </a>
      </div>
      <div class="p-drawer__menu">
        <nav id="js-global-menu" aria-label="グローバルメニュー">
          <ul class="p-drawer__list">
            <li class="p-drawer__item"><a class="p-drawer__link" href="/about-us/"><span class="c-viga ">about us</span><span>TETOTEについて</span></a></li>
            <li class="p-drawer__item"><a class="p-drawer__link" href="/staff/"><span class="c-viga ">staff</span><span>社員について</span></a></li>
            <li class="p-drawer__item"><a class="p-drawer__link" href="/blog/"><span class="c-viga ">blog</span><span>採用ブログ</span></a></li>
            <li class="p-drawer__item"><a class="p-drawer__link" href="/benefits/"><span class="c-viga ">benefits</span><span>福利厚生について</span></a></li>
            <li class="p-drawer__item"><a class="p-drawer__link" href="/career/"><span class="c-viga ">carrer</span><span>研修制度とキャリアパス</span></a></li>
            <li class="p-drawer__item"><a class="p-drawer__link" href="/faq/"><span class="c-viga ">FAQ</span><span>よくある質問</span></a></li>
          </ul>
        </nav>

        <!-- ドロワー内のボタン群 -->
        <div class="p-drawer_button">
          <a class="c-button--smallBW" href="/details/">募集要項</a>
          <a class="c-button--smallGG c-viga"href="/entry/">entry</a>
        </div><!--.p-drawer_button" -->
      </div><!-- .p-drawer__menu -->
    </div><!-- .p-drawer__inner -->
  </div><!-- .p-drawer -->

  <main class="l-main" id="main top">
    <div class="l-main__head p-main__head">
      <div class="c-lowerHero">
        <div class="l-inner--lower c-lowerHero__inner">
          <p class="c-lowerHero__lead c-viga">about us</p>
          <h1 class="c-lowerHero__title">TETOTEについて</h1>
          <p class="c-lowerHero__outline">私たちの理念を紹介をします。</p>
        </div>
      </div><!-- .p-lowerHero -->
      <div class="c-breadcrumbs">
        <div class="l-inner--1024 p-breadcrumbs__inner">
          <ol class="c-breadcrumbs__list">
            <li><a href="/">top</a></li>
            <li><a href="/about-us/">about us</a></li>
          </ol>
        </div>
      </div>
    </div><!-- .l-main__head .p-main__head-->

    <div class="l-main__body">

    </div><!-- l-main__body -->
  </main>

  <footer class="l-footer p-footer">
    <div class="p-footer__head">
    </div>
    <div class="l-inner--1380 p-footer__inner">
      <div class="p-footer__cta">
        <p class="p-footer__ctaText">わたしたちと一緒に働く仲間を募集中です。<br>
          少数精鋭のチームで、<br>
          あなたも会社も一緒に成長していきましょう。</p>
        <a class="p-footer__ctaButton c-button--gb c-viga" href="">entry</a>
      </div>
      <div class="p-footer__foot">
        <div>
          <nav class="p-footer__nav">
            <ul class="p-footer__navList">
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/">ホーム</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/about-us/">TETOTEについて</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/#topMember">人を知る</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/career/">研修制度とキャリアパス</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/benefits/">福利厚生</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/blog/">採用ブログ</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/details/">募集要項</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/faq/">よくある質問</a></li>
              <li class="p-footer__navItem"><a class="p-footer__navLink" href="/about-us/#profile">会社概要</a></li>
            </ul>
          </nav>
          <ul class="p-footer__sns">
            <li class="p-footer_snsItem"><a class="p-footer_snsLink" href="@@facebook-link@@"><img src="/img/icon_facebook.svg" alt="facebook"></a></li>
            <li class="p-footer_snsItem"><a class="p-footer_snsLink" href="@@twitter-link@@"><img src="/img/icon_twitter.svg" alt="twitter"></a></li>
            <li class="p-footer_snsItem"><a class="p-footer_snsLink" href="@@youtube-link@@"><img src="/img/icon_youtube.svg" alt="youtube"></a></li>
          </ul>
          <a class="p-footer__logo" href="/"><img src="/img/img_logo.svg" alt=""></a>
        </div>
        <p class="p-footer__copyright c-viga">&copy; 2024 TETOTE All Right Reserved.</p>
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="/js/swiper.js" defer></script>
  <script src="/js/main.js" defer></script>
</body>
</html>