/******************************
accordion
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-accordion {

  border-top: 1px solid $color-secondary;
  padding-block: rem(31.5);
  &:last-child {
    border-bottom: 1px solid $color-secondary;
  }
  &__summary{
    /* display: list-item;以外を指定してデフォルトの三角形アイコンを消す */
    display: grid;//初期値のdisplay:
    grid-template-columns: 16px 1fr 16px;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    font-size: rem(16);
    line-height: 1.5;
    color: $color-text;
    /* Safariで表示されるデフォルトの三角形アイコンを消す */
    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "Q";
      color: $color-main;
      font-family: "Viga", sans-serif;
      font-size: rem(24);
      font-weight: 400;
      font-style: normal;
      line-height: 1;
    }

    .c-accordion__icon {
      display: block;
      position: relative;
      width: 16px;
      height: 16px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 2px;
        background-color: $color-main;
        top: calc(50% - 0.5px);
        right: 0;
        transition: all .3s;
      }
      &::before {
        opacity: 1;
      }
      &::after {
        transform-origin: center center; 
        transform: rotate(90deg);
      }
    }
  }

  &__content{
    margin-top: rem(18) - rem(4);
    margin-left: rem(36);
    margin-right: rem(36);
    .c-accordion__inner {
      p {
        font-size: rem(16);
        line-height: 1.5;
      }
    }
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:last-child {
    padding-top: rem(35.5);
  }
}

/* アコーディオンが開いた時 */
.c-accordion[open] {
  .c-accordion__icon {
    &::before {
      opacity: 0;
    }
    &::after {
      transform-origin: center center;
      transform: rotate(0) translateY(1px) scaleY(1.5);
    }
  }
}
