/******************************
ハンバーガーメニュー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-hamburger { 
  --bar-w: 32px;
  --bar-h: 2px;

  display: block;
  width: 32px;
  height: 38px;
  color: $color-white;
  font-size: rem(10);
  line-height: 100%;
  position: relative;
  z-index: $z-hamburger;

  /* ─ 基本リセット ─ */
  appearance: none;
  padding   : 0;
  border    : 0;
  cursor    : pointer;

  @include mq(tab) {
    --bar-w: 52px;
    --bar-h: 2px;

    width: 52px;
    height: 61px;
    font-size: rem(12);
  }

  /* フォーカスリングをつける */
    &:focus {
      outline: $focus-width solid $focus-color;
      outline-offset: $focus-offset;
    }
    &:focus-visible {
      outline: $focus-width solid $focus-color;
      outline-offset: $focus-offset;
    }
    @supports selector(:focus-visible) {
      &:focus:not(:focus-visible) { outline: none; }
    }
  
  /* 展開アニメーション*/
  //閉じた状態
  span {
    position: absolute;
    left: 50%;
  }

  &__bar {
    width: var(--bar-w);
    
    height: calc(var(--bar-h) * 2);
    transform: translateX(-50%) scaleY(.5);
    -webkit-transform: translateX(-50%) scaleY(.5);
    -ms-transform: translateX(-50%) scaleY(.5);
    background: $color-white;
    transition: transform .3s ease, opacity .3s ease;
    
  &:nth-child(1){ 
    top: 1px;
    @include mq(tab) {
      top: 2px;
    }
  }
  &:nth-child(2){ 
    top: 10px;
    @include mq(tab) {
      top: 17px;
    }
  }
  &:nth-child(3){
    top: 19px;
    @include mq(tab) {
      top: 32px;
    }
  }
  }

  &__text {
    width: 28px;
    bottom: 1px;
    text-transform: uppercase;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    @include mq(tab) {
      width: 34px;
      bottom: 4px;
    }
  }

  //開いた状態
  &[aria-expanded="true"] {
    @include mq(tab) {
      margin-left: 6px; //デザインカンプのズレに対応
    }
    .c-hamburger__bar:nth-child(1),
    .c-hamburger__bar:nth-child(3){
      top: 10px;
      transform-origin:center; //支点を中央
      background-color: $color-text;
      @include mq(tab) {
        top: 20px;
      }
    }
    .c-hamburger__bar:nth-child(1){ transform:translateX(-50%) rotate(45deg) scaleY(.5); }
    .c-hamburger__bar:nth-child(2) { opacity: 0; }
    .c-hamburger__bar:nth-child(3) { transform:translateX(-50%) rotate(-45deg) scaleY(.5); }
    .c-hamburger__text {opacity: 0;}
  }
}