/******************************
下層 セクションタイトル
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-lowerSectionTitle {
  font-size: rclamp(24, 32, 375, 1024);
  font-weight: 700;
  line-height: 1.5;
  margin-top: calc( -1 * rclamp(6, 8, 375, 1024));
  //margin-bottom: rem(40);
  margin-bottom: rclamp(40, 70, 375, 1024);
  @include mq(tab){
    margin-bottom: rem(113);
  }

  @media (max-width: 350px) {
    font-size: rem(22);
  }
}