/******************************
メンバーカード
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-memberCard {
  width: rem(246);
  @include mq(tab) {
    width: rem(300);
  }

  &__head {
    position: relative;
    padding-bottom: rem(18);
    width: 100%;
    height: auto;
    .c-memberCard__media {
      width: 100%;
      height: auto;
      aspect-ratio: auto;
      border-radius: 30px;
    }
    .c-memberCard__text {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(6);
      top: rem(263);
      left: 0;
      @include mq(tab) {
        top: rem(331);
      }

      p {
        font-weight: 700;
        line-height: 1;
        background-color: $color-secondary;
        padding: rem(7);
        @include mq(tab) {
          font-size: rem(20);
          padding: rem(5) rem(7);
        }
      }
    }
  }

  &__body {
    margin-top: rem(13);
    @include mq(tab) {
      margin-top: rem(16);
    }

    .c-memberCard__info {
      display: flex;
      gap: rem(13);
      margin-bottom: rem(14);
      @include mq(tab) {
        gap: rem(9);
        margin-bottom: rem(16);
      }

      p {
        font-size: rem(12);
        font-weight: 700;
        line-height: 1;
        @include mq(tab) {
          font-size: rem(16);
        }
      }
    }

    h3,
    h2 {
      font-size: rem(20);
      font-weight: 700;
      line-height: 1;
      @include mq(tab) {
        font-size: rem(24);
      }
      span~span {
        margin-left: rem(6);
      }
    }
  }
}
