/******************************
pagination
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-pagination {
  padding-top: rem(60);
  @include mq(tab){
    padding-top: rem(98);
  }
  &__nav{
    .page-numbers{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(32);
      span.current {
        color: $color-white;
        font-size: rem(14);
        line-height: 1;
        display: flex;
        width: rem(58);
        height: rem(58);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: $color-text;
        transition: transform .3s ease;
      }

      a.page-numbers {
        color: $color-text;
        font-size: rem(14);
        line-height: 1;
        display: flex;
        width: rem(58);
        height: rem(58);
        border: 1px solid $color-text;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        transition: transform .3s ease;

        &:hover,
        &:focus{
          transform: scale(1.2);
        }
      }
    }
  }
}