/******************************
セクションタイトル
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-topSectionTitle {
  position: relative;
  display: block;
  width: fit-content;

  &__upper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: rem(32);
    font-weight: 700;
    line-height: 1;
    width: 100%;
    @include mq(tab) {
      font-size: rem(42);
    }
    @include mq(pc) {
      font-size: rem(52);
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translateX(-50%) translateY(-50%);
    }

    span {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: 2px;
      text-underline-offset: auto;
      text-underline-position: from-font;
      @include mq(tab) {
        text-decoration-thickness: 2.5px;
        text-underline-offset: 2px;
      }
    }
  }

  &__lower {
    color: $color-text2;
    font-size: rem(80);
    text-transform: uppercase;
    line-height: 1;
    display: block;
    width: fit-content;
    @include mq(tab) {
      font-size: rem(113);
    }
    @include mq(pc) {
      font-size: rem(136);
    }
  }
}