/******************************
archive blog
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-archiveBlog {
  &__inner {
    padding-block: rem(70) rem(70);
    @include mq(tab){
      padding-block: rem(130) rem(139);
    }
    @include mq(pc) {
      padding-left: rem(34);
      padding-right: rem(34);
    }
    .p-archiveBlog__contents{
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(23);
      @include mq(tab) {
        grid-template-columns: 1fr 1fr;
        gap: rem(23) rclamp(23, 52, 768, 1440);
        margin-bottom: 0;
      }

      .c-blogUnit {
        a {
          background-color: $color-beige;
        }
      }
    }
  }

  &__pagination {
    padding-top: rem(60);
      @include mq(tab){
        padding-top: rem(98);
      }
    .pagination{
      .page-numbers{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(32);
        span.current {
          color: $color-white;
          font-size: rem(14);
          line-height: 1;
          display: flex;
          width: rem(58);
          height: rem(58);
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          background-color: $color-text;
          transition: transform .3s ease;
        }

        a.page-numbers {
          color: $color-text;
          font-size: rem(14);
          line-height: 1;
          display: flex;
          width: rem(58);
          height: rem(58);
          border: 1px solid $color-text;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          background-color: $color-white;
          transition: transform .3s ease;

          &:hover,
          &:focus{
            transform: scale(1.2);
          }
        }
      }
    }

  }
}