/******************************
benefitsVarious
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-benefitsVarious {
  &__inner {
    padding-block: rem(66) rem(35);

    @include mq(tab) {
      padding-block: rem(145) rem(64);
    }
  }

  &__title {
    text-align: left;
    margin-bottom: calc(rem(60) - rem(35.5) - rclamp(6, 8, 375, 1024));
    @include mq(tab) {
    margin-bottom: calc(rem(113) - rem(35.5) - rclamp(6, 8, 375, 1024));
    }
  }
}