/******************************
top blog
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-blog {
  background-color: $color-beige;
  padding-block: rem(54) rem(66);
  @include mq(tab) {
    padding-block: rem(45) rem(80);
  }

  .l-inner--1024{
    position: relative;
  }

  &__title {
    margin-bottom: rem(19);
    @include mq(tab) {
      margin-bottom: rem(31);
    }
    @include mq(pc) {
      margin-left: calc(-1 * rem(47));
    }
  }

  &__description {
    line-height: 1.5;
    margin-bottom: rem(43);
    @include mq(tab) {
      margin-bottom: rem(61);
    }
  }

  &__contents {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(9);
    margin-bottom: rem(52);
    @include mq(tab) {
      grid-template-columns: 1fr 1fr;
      gap: rem(23) rclamp(23, 52, 768, 1440);
      margin-bottom: 0;
    }
  }

  &__viewMore {
    text-transform: uppercase;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    display: flex;
    align-items: center;
    gap: rem(13);
    @include mq(tab) {
      position: absolute;
      top: rem(39);
      right: rem(54);
    }
  }
}