/******************************
ヘッダー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-header {
  position: fixed;
  width: 100%;
  z-index: $z-header;

  &__inner{
    padding-block: rem(8) rem(8);
    padding-inline: rem(12);
    width: 100%;
    max-width: var(--inner-max);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
      @include mq(tab) {
    padding-block: rem(28) rem(29);
    padding-inline: rem(30);
  }
  }
  &__title {
    flex-grow: 1;
    > a {
      display: inline-block;
      width: rem(154);
      height: rem(38);
      @include mq(tab) {
        width: rem(250);
        height: rem(61);
      }
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        filter: brightness(0) invert(1);
      }
    }
  }
  &__action {
    display: none;
    @include mq(tab) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(22);
      margin-right: rem(40);
    }
    
    a:first-child {
      font-weight: 700;
    }
    a:last-child {
      text-transform: uppercase;
    }
  }
}

//-----------------------------------
//トップページ　スクロールがhero過ぎた時
//-----------------------------------
.p-header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  animation: slideDown 0.3s ease-in-out;
  background-color: $color-white;

  .p-header__title {
    > a {
      img {
        filter: invert(9%) sepia(31%) saturate(3%) hue-rotate(25deg) brightness(93%) contrast(89%);
      }
    }
  }

  .c-hamburger {
    color: $color-text;

    &__bar {
      background-color: $color-text;
    }
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}


//-----------------------------------
//下層ページ
//-----------------------------------

body:not(.home) .p-header {
  background-color: $color-white;
  
  .p-header__title {
    > a {
      img {
        filter: invert(9%) sepia(31%) saturate(3%) hue-rotate(25deg) brightness(93%) contrast(89%);
      }
    }
  }

  .c-hamburger {
    &__bar {
      background-color: $color-text;
    }
    &__text {
      color: $color-text;
    }
  }
}


//-----------------------------------
//ドロワー　open時
//-----------------------------------

.p-header.is-open {
  background-color: none;

  .p-header__inner{
    //padding-inline: rem(12) rem(8);
  
    .p-header__title {
      > a {
        //width: rem(150);
        //height: rem(40);
        //margin-top: rem(4);

        img {
          filter: invert(9%) sepia(31%) saturate(3%) hue-rotate(25deg) brightness(93%) contrast(89%);
        }
      }
    }
  }
}