/******************************
top member
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-member {
  padding-bottom: rem(71);
  @include mq(pc) {
    padding-bottom: rem(63);
  }

  .l-inner--1024{
    position: relative;
    padding-inline: rem(17);
    @include mq(pc) {
      padding-top: rem(45) + rem(136);
      padding-inline: rem(34);
    }
  }

  &__title {
    @include mq(pc) {
      position: absolute;
      top: rem(45);
      left: calc(-1 * rem(132));
    }
  }

  &__description {
    line-height: 1.5;
    margin-block: rem(19) rem(50);
    @include mq(pc) {
      margin-block: rem(10) rem(52);
    }
  }

  &__swiper {
    display: flex;
    padding-inline: rem(9);
    padding-bottom: rem(64);
    @include mq(tab) {
      padding-inline: 0;
      padding-bottom: rem(80);
    }

    .p-member__swiperInner{
      flex-grow: 1;
      margin-right: calc(50% - 50vw);
      overflow: hidden;

      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: rem(246);
            @include mq(tab) {
              width: rem(300);
            }
          }

          .swiper-slide:nth-child(even) {
            .c-memberCard {
              margin-top: rem(24);
              @include mq(tab) {
                margin-top: rem(36);
              }
            }
          }
        }
      }
    }
  }
  .swiper-controller{
    display: none;
    @include mq(tab) {
      width: rem(136);
      height: rem(58);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: rem(11);
      right: rem(19);
    }

    .swiper-button-prev, 
    .swiper-button-next {
      width: rem(58);
      height: rem(58);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 0;
    }

    .swiper-button-prev::after {
      transform: translateX(-50%) translateY(-50%) rotate(180deg);
    }
  }

  .c-button--wb {
    margin-inline: auto;
  }
}