/******************************
about-us polocy
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-policy {
  padding-block: rem(66) rem(65);

  &__title {
    text-align: center;
    margin-bottom: calc(rclamp(60, 86, 375, 1024) - rclamp(6, 8, 375, 1024));
  }

  &__unit {
    background-color: $color-beige;
    border-radius: 10px;
    padding: rem(30) rclamp(16, 80, 375, 1024);
    margin-bottom: rem(35);

    h3 {
      font-size: rclamp(18, 20, 768, 1024);
      font-weight: 700;
      line-height: 1.5;
      display: flex;
      align-items: flex-start;
      gap: rclamp(16, 21, 375, 1024);
      margin-bottom: rem(21);

      span:first-child {
        font-size: rclamp(15, 18, 768, 1024);
        font-weight: 400;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rclamp(30, 48, 375, 1024);
        height: rclamp(30, 48, 375, 1024);
        border: 1px solid $color-text;
        border-radius: 50%;
      }
      span:last-child {
        margin-top: rclamp( 0, 9, 375, 1024);
      }
    }

    p {
      line-height: 1.5;
    }
  }
  &__unit:last-child {
    margin-bottom: 0;
  }
}
