/******************************
staff
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-staff {
  &__inner {
    padding-block: rem(130) rem(139);
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    justify-items: center;
    gap: rem(49) rem(43);
    @include mq(tab) {
      padding-inline: rem(19);
      grid-template-columns: repeat(2, 300px);
    }
    @include mq(pc) {
      grid-template-columns: repeat(3,300px);
    }
  }
}