/******************************
staff詳細ページ　main
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-staffMain {
  --staff-inner-max: 1024px;
  --staff-pl: 24px;
  --staff-edge: max(
    calc((100vw - var(--staff-inner-max)) * 0.5 + 8px),
    var(--staff-pl)
  );

  &__inner {
    padding-top: rem(101) - rem(23);
    @include mq(tab) {
      padding-left: rem(24);
      padding-right: rem(24);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(41);
    margin-bottom: rem(66) - rem(15);
    @include mq(tab) {
      grid-template-columns: 1fr rem(210);
      gap: rem(56);
    }

    .p-staffMain__content {

      h2 {
        position: relative;

        &::before { //左サイドに1pxの線
          display: block;
          content: "";
          width: calc( var(--inner-pl) - rem(4));
          height: 0.5em;
          border-top: 1px solid $color-text;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateX(calc(-1 * var(--inner-pl))) translateY(rem(1));
          @include mq(pc) {
            width: var(--staff-edge);
            transform: translateX(calc(-100% - rem(16))) translateY(rem(1));
          }
        }
      }

      h2:first-child{
        margin-top: calc(rem(23) - rclamp(5, 6, 375, 768));
      }

      p {
        color: $color-black;
      }
    }

    .p-staffMain__asid {
      display: none;
      @include mq(tab) {
        display: block;
        align-self: start;
        margin-top: rem(23);
        position: sticky;
        top: rem(118); 
        width: rem(234);
      }

      p {
        color: $color-darkGray;
        font-size: rem(14);
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: rem(14);
      }
      ul {
        li {
          a {
            color: $color-lightGray;
            font-size: rem(14);
            font-weight: 700;
            line-height: 1.5;
            margin-left: rem(4);
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &::before {
              content: "";
              display: block;
              width: rem(4);
              height: rem(4);
              background-color: $color-lightGray;
              border-radius: 50%;
              margin-right: rem(6);
              margin-top: 2px;
            }
          }
          a.is-active {
            color: $color-text;
            &::before {
              background-color: $color-text;
            }
          }
        }
        li~li {
          margin-top: rem(16);
        }
      }
    }
  }

  &__other {
    margin-bottom: rem(139);
    .l-inner--lower {
      padding-top: rem(42);
      @include mq(pc) {
        padding-left: rem(19);
        padding-right: rem(19);
      }
      h2 {
        font-size: rem(32);
        font-weight: 700;
        line-height: 1.8;
        text-align: center;
        margin-bottom: rem(50);
      }
      > div {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
        justify-items: center;
        gap: rem(49) rem(43);
        @include mq(tab) {
          grid-template-columns: repeat(2, 300px);
        }
        @include mq(pc) {
          grid-template-columns: repeat(3, 300px);
        }

        .c-memberCard {
          &__head {
            margin-bottom: rem(16);
          }
          &__body {
            .c-memberCard__info {
              margin-bottom: rem(16);
            }
            h2 {
              font-size: rem(24);
              line-height: 1;
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
/*
  &__asid {
    display: none;
    @include mq(pc) {
      display: inline;
      position: sticky;
      top: 120px; 
      float: right;
      width: 260px;

      .p-staffMain__toc { 
        list-style: none; 
        padding: 0; 
        margin: 0; 

        li {
          margin: 0 0 .5rem 0;

          a {
            text-decoration: none; 
            color: $color-lightGray; 
            line-height: 1.5;
          }

          a.is-active {
            font-weight: 700; 
            color: $color-text; 
          }
        }
      }
    }
  }*/
}