/******************************
l-inner 汎用インナー
******************************/
@use "../foundation/forwards" as *;

.l-inner {
  width: 100vw;
  max-width: var(--inner-max);
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  margin-inline: auto;
  box-sizing: border-box;
}

.l-inner--1024 {
  width: 100vw;
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
  @include mq("pc") {
    margin-inline: auto;
    max-width: 1024px;
  }
}

.l-inner--1380 {
  width: 100vw;
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
  @include mq("pc") {
    margin-inline: auto;
    max-width: rem(1380);
  }
}